extends layout
block append head 
  script
    validateForm = function(){
      p1 = document.forms['newuser']['password'].value
      p2 = document.forms['newuser']['password2'].value
      if(p1 != p2) { alert('Passwords don\'t match'); return false };
    }
block prepend content
  if(logged_in_user)
    - google = logged_in_user.google.id ? true : false;
    p Welcome, #{logged_in_user.handle}
    if(google)
      p Your account is associated with Google ID #{logged_in_user.google.id}
    if(!google)
      a(href='/auth/link/google') Link a Google account to account #{logged_in_user.handle}
      br
    hr
  if(!logged_in_user)
    div.w50
      p Log In:
      form(name='login', action='/auth/password/start', method='post')
        input(type='text', name='handle', placeholder='user')
        input(type='text', name='password', placeholder='pwd')
        input(type='submit', value='Login')
    div.w50
      a(href='/auth/google/start') Login with Google
    div.clear
  p Create New User:
  form(name='newuser', action='/auth/createuser', method='post',
       onsubmit="return validateForm()")
    input(type='text', name='handle', placeholder='user')
    input(type='text', name='password', placeholder='pwd')
    input(type='text', name='password2', placeholder='pwd again')
    input(type='submit', value='Create User')
  hr
    
  if(all_users.length > 0) 
    p Current Users:
    ul
    each line in all_users
      li
        pre=JSON.stringify(line, null, 2)
